/*body { */
/*    background-color:green;*/
/*}*/
.navbar{
    text-transform: uppercase;
}
.my-font { 
    font-family: "normal" ; 
    font-weight: bold
}


.nav-item{
    background-color: yellow;
}

.nav-link:hover{
    background-color:blue ; 
}

/*this is about the header*/
header{
    height:300px;
    width: 100%;
    background-image: url("fwk.jpg");
    background-size:cover;
    text-align: left;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

/*go to hex color for different color shades*/

header p{
    color:yellow;
    font-style:bold;
}
header h1{
    color:yellow;
}

/*services*/

.services h1{
    font-style: italic
}

.services p{
    font-style: italic
}

.services{
    text-align: center
}

.services i{
    font-size: 30px;
    padding: 25px 20px;
    
    /*changed color of font*/
    
    background-color: yellow;
    color: blue;
    
    text-align: center;
    width: 80px;
    height:80px;
    
    border-radius: 50%;
    
}

.services span{
font-weight: bolder;

}

.pricing h1{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

.pricing h2{
    font-size-adjust: none
    font-weight: bold;
    background-color: yellow;
    box-sizing: border-box;
    font-style: italic;
}

.pricing h3{
    background-color: blue;
    box-sizing: border-box;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
    background-color: red;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}





.team{
    text-align: center;
    }
    
    .team img{
        width:100px;
        border-radius: 50%;
        object-fit: cover;
    }
    
     .team h1{
    font-style: italic;
     }
     
     .team p{
         font-style: italic;
     }
     
    .contact btn{
        width:100%;
    }
    
    .contact button:hover{
        background-color: black;
    }
   
 