/*body { */
/*    background-color:green;*/
/*}*/
.navbar{
    text-transform: uppercase;
}
.my-font { 
    font-family: "normal" ; 
    font-weight: bold
}


.nav-item{
    background-color: yellow;
}

.nav-link:hover{
    background-color:blue ; 
}

/*this is about the header*/
header{
    height:300px;
    width: 100%;
    background-image: url("jesse.jp2");
    background-size:cover;
    text-align: left;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

/*go to hex color for different color shades*/

header p{
    color:yellow;
    font-style:normal;
}
header h1{
    color:yellow;
}
