.body { 
    background-color:green;
}
.navbar{
    text-transform: uppercase;
}
.my-font { 
    font-family: "PT Sans Narrow" ; 
    font-weight: bold
}


.nav-item{
    background-color: lightblue;
}

.nav-link:hover{
    background-color:blue ; 
}

/*this is about the header*/
header{
    height: 400px;
    width:100%;
    background-image: url("download.png");
    background-size:cover;
    text-align: center;
    font-family: 'Srisakdi', cursive;
}

/*go to hex color for different color shades*/

header p{
    color:purple;
    font-style: italic
}
header h1{
    color:lightblue
}
